<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="buildshipimport Eclipse Photon Target Platform" sequenceNumber="7">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.2.1.201402241301"/>
<repository location="http://builds.gradle.org:8000/eclipse/update-site/mirror/swtbot/release/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2e.feature.feature.group" version="1.9.0.20180131-0104"/>
<unit id="org.eclipse.sdk.ide" version="4.8.0.I20180308-0630"/>
<repository location="http://builds.gradle.org:8000/eclipse/update-site/mirror/releases-photon/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.gradleware.tooling.client" version="0.19.4.v20171108133209"/>
<unit id="com.gradleware.tooling.model" version="0.19.4.v20171108133209"/>
<unit id="com.gradleware.tooling.utils" version="0.19.4.v20171108133209"/>
<unit id="org.gradle.toolingapi" version="4.3.0.v20171108133209"/>
<repository location="jar:https://repo.gradle.org/gradle/tooling-libs-releases-local/com/gradleware/tooling/p2-repository/0.19.4/p2-repository-0.19.4.zip!/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.oomph.setup.sdk.feature.group" version="1.9.0.v20180529-1103"/>
<repository location="http://download.eclipse.org/oomph/updates/milestone/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.buildship.feature.group" version="2.2.1.v20180125-1441"/>
<repository location="http://download.eclipse.org/buildship/updates/e47/releases/2.x"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.classic" version="1.1.2.v20171220-1825"/>
<unit id="ch.qos.logback.core" version="1.1.2.v20160208-0839"/>
<unit id="ch.qos.logback.slf4j" version="1.1.2.v20160301-0943"/>
<unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
<unit id="org.junit" version="4.12.0.v201504281640"/>
<repository location="http://builds.gradle.org:8000/eclipse/update-site/mirror/orbit-photon-m7/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<launcherArgs>
<vmArgs>-XX:MaxPermSize=128M</vmArgs>
</launcherArgs>
</target>
