<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.ifao.plugins.editor.TestcaseEditor"
            extensions="tsc"
            icon="icons/rule.gif"
            id="net.ifao.plugins.editor.TestcaseEditor"
            name="ifao TestCase Editor"/>
      <editor
            class="net.ifao.plugins.editor.keystoreeditor.KeystoreEditor"
            extensions="jks"
            icon="icons/keystore.gif"
            id="net.ifao.plugins.editor.keystoreeditor.KeystoreEditor"
            name="i:FAO Keystore Editor"/>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
         <!-- IOpenable objects in the JDT core are projects, folders, packages, java source files, and jars -->
      <objectContribution
            id="ifaoplugin.objectContributionIfaoFormatterIOpenable"
            nameFilter="*.java"
            objectClass="org.eclipse.jdt.core.IOpenable">
         <action 
               class="net.ifao.plugins.action.JavaDocAction"
               icon="icons/htmlView.gif"
               id="ifaoplugin.actionIfaoFormatter"
               label="i:FAO Formatter"
               menubarPath="additions"/>
      </objectContribution>
      <objectContribution
            id="ifaoplugin.objectContributionOpenTestcaseIOpenable"
            nameFilter="*.java"
            objectClass="org.eclipse.jdt.core.IOpenable">
         <action 
               class="net.ifao.plugins.action.TscAction"
               icon="icons/rule.gif"
               id="ifaoplugin.actionOpenTestcase"
               label="Open Testcase"
               menubarPath="additions"/>
      </objectContribution>
      <!-- IFile objects are all files which are not iOpenable, i.e. files are no source files, as in the Navigator -->
      <objectContribution
            id="ifaoplugin.objectContributionIfaoFormatterIFile"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IFile">
         <action 
               class="net.ifao.plugins.action.JavaDocAction"
               icon="icons/htmlView.gif"
               id="ifaoplugin.actionIfaoFormatter"
               label="i:FAO Formatter"
               menubarPath="additions"/>
      </objectContribution>
      <objectContribution
            id="ifaoplugin.objectContributionOpenTestcaseIFile"
            nameFilter="*.java"
            objectClass="org.eclipse.core.resources.IFile">
         <action 
               class="net.ifao.plugins.action.TscAction"
               icon="icons/rule.gif"
               id="ifaoplugin.actionOpenTestcase"
               label="Open Testcase"
               menubarPath="additions"/>
      </objectContribution>
	  <!-- viewerContributions for the context menus of the editors -->
	  <viewerContribution
        id="ifaoplugin.viewerContributionIfaoFormatter"
        targetID="#CompilationUnitEditorContext">
	    <action id="ifaoplugin.actionIfaoFormatter"
	       label="i:FAO Formatter"
	       icon="icons/htmlView.gif"
	       menubarPath="additions"
	       class="net.ifao.plugins.action.JavaDocAction">	
	    </action>
       </viewerContribution>
	  <viewerContribution
        id="ifaoplugin.viewerContributionOpenTestcase"
        targetID="#CompilationUnitEditorContext">
	    <action id="ifaoplugin.actionOpenTestcase"
	       label="Open Testcase"
	       icon="icons/rule.gif"
	       menubarPath="additions"
	       class="net.ifao.plugins.action.TscAction">	
	    </action>
       </viewerContribution>
   <objectContribution
         id="ifaoplugin.objectContributionSql2JavaIOpenable"
         nameFilter="*.sql"
         objectClass="org.eclipse.jdt.core.IOpenable">
      <action
            class="net.ifao.tools.sql2java.action.JavaDocAction"
            icon="icons/database/Sql2Java.png"
            id="ifaoplugin.actionSql2Java"
            label="Sql2Java"
            menubarPath="additions">
      </action>
   </objectContribution>
   <objectContribution
         id="ifaoplugin.objectContributionSql2JavaIFile"
         nameFilter="*.sql"
         objectClass="org.eclipse.core.resources.IFile">
      <action
            class="net.ifao.tools.sql2java.action.JavaDocAction"
            icon="icons/database/Sql2Java.png"
            id="ifaoplugin.actionSql2Java"
            label="Sql2Java"
            menubarPath="additions">
      </action>
   </objectContribution>
   <viewerContribution
         id="ifaoplugin.viewerContributionSql2Java"
         targetID="#CompilationUnitEditorContext">
      <action
            class="net.ifao.tools.sql2java.action.JavaDocAction"
            icon="icons/database/Sql2Java.png"
            id="ifaoplugin.actionSql2Java"
            label="Sql2Java"
            menubarPath="additions">
      </action>
   </viewerContribution>
   <objectContribution
         id="ifaoplugin.objectContributionXsd2JavaIOpenable"
         nameFilter="data.xsd"
         objectClass="org.eclipse.jdt.core.IOpenable">
      <action
            class="net.ifao.plugins.action.Xsd2Java"
            icon="icons/application_lightning.gif"
            id="ifaoplugin.actionXsd2Java"
            label="Generate JaxB Java Classes"
            menubarPath="additions">
      </action>
   </objectContribution>
   <objectContribution
         id="ifaoplugin.objectContributionXsd2JavaIFile"
         nameFilter="data.xsd"
         objectClass="org.eclipse.core.resources.IFile">
      <action
            class="net.ifao.plugins.action.Xsd2Java"
            icon="icons/application_lightning.gif"
            id="ifaoplugin.actionXsd2Java"
            label="Generate JaxB Java Classes"
            menubarPath="additions">
      </action>
   </objectContribution>
	              
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="DTD Info Category"
            id="ifaoplugin.commands.category">
      </category>
      <command
            name="DTD Info"
            categoryId="ifaoplugin.commands.category"
            id="ifaoplugin.commands.dtdInfoCommand">
      </command>
      <command
            categoryId="ifaoplugin.commands.category"
            id="ifaoplugin.commands.schemaCommand"
            name="Schema Generator">
      </command>
      <command
            categoryId="ifaoplugin.commands.category"
            id="ifaoplugin.commands.Sql2JavaCommand"
            name="Sql 2 Java">
      </command>
      <command
            categoryId="ifaoplugin.commands.category"
            id="ifaoplugin.commands.Java2SqlCommand"
            name="Java 2 Sql">
      </command>
      <command
            categoryId="ifaoplugin.commands.category"
            id="ifaoplugin.commands.ValidateDatabaseCommand"
            name="Validate Database">
      </command>
      <command
            id="ifaoplugin.commands.startRuleProcessorLanguageDumper"
            name="startRuleProcessorLanguageDumper">
      </command>
      <command
            id="ifaoplugin.commands.startDependencySummarizer"
            name="startDependencySummarizer">
      </command>
      <command
            id="ifaoplugin.commands.startDoubletsTest"
            name="startDoubletsTest">
      </command>
      <command
            id="ifaoplugin.commands.startTruthTableDumper"
            name="startTruthTableDumper">
      </command>
      <command
            id="ifaoplugin.commands.startUpdateAncillaryInfoPlausiChecksDumper"
            name="startUpdateAncillaryInfoPlausiChecksDumper">
      </command>
      <command
            categoryId="ifaoplugin.commands.category"
            id="ifaoplugin.commands.UpdateHCommand"
            name="Update Providerdata from H:">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ifaoplugin.commands.dtdInfoCommand"
            class="ifaoplugin.DtdInfoHandler">
      </handler>
      <handler
            class="ifaoplugin.SchemaGeneratorHandler"
            commandId="ifaoplugin.commands.schemaCommand">
      </handler>
      <handler
            class="net.ifao.tools.sql2java.Sql2JavaHandler"
            commandId="ifaoplugin.commands.Sql2JavaCommand">
      </handler>
      <handler
            class="net.ifao.tools.sql2java.Java2SqlHandler"
            commandId="ifaoplugin.commands.Java2SqlCommand">
      </handler>
      <handler
            class="net.ifao.tools.sql2java.ValidateDatabaseHandler"
            commandId="ifaoplugin.commands.ValidateDatabaseCommand">
      </handler>
      <handler
            class="net.ifao.tools.ancillaries.RuleProcessorLanguageDumperHandler"
            commandId="ifaoplugin.commands.startRuleProcessorLanguageDumper">
      </handler>
      <handler
            class="net.ifao.tools.ancillaries.DependencySummarizerHandler"
            commandId="ifaoplugin.commands.startDependencySummarizer">
      </handler>
      <handler
            class="net.ifao.tools.ancillaries.DoubletsTestHandler"
            commandId="ifaoplugin.commands.startDoubletsTest">
      </handler>
      <handler
            class="net.ifao.tools.ancillaries.TruthTableDumperHandler"
            commandId="ifaoplugin.commands.startTruthTableDumper">
      </handler>
      <handler
            class="net.ifao.tools.ancillaries.UpdateAncillaryInfoPlausiChecksDumperHandler"
            commandId="ifaoplugin.commands.startUpdateAncillaryInfoPlausiChecksDumper">
      </handler>
      <handler
            class="net.ifao.plugins.action.UpdateH"
            commandId="ifaoplugin.commands.UpdateHCommand">
      </handler>
   </extension>
   <!-- extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ifaoplugin.commands.dtdInfoCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Arctic Tools"
               mnemonic="A"
               id="ifaoplugin.menus.sampleMenu">
            <command
                  commandId="ifaoplugin.commands.dtdInfoCommand"
                  icon="icons/dtdinfo/dtdinfo.jpg"
                  id="ifaoplugin.menus.dtdInfoCommand"
                  mnemonic="D">
            </command>
            <separator
                  name="ifaoplugin.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="ifaoplugin.commands.schemaCommand"
                  icon="icons/schemagenerator/builder.PNG"
                  id="ifaoplugin.menu.schemaCommand"
                  mnemonic="G">
            </command>
            <command
                  commandId="ifaoplugin.commands.UpdateHCommand"
                  icon="icons/UpdateH.png"
                  id="ifaoplugin.menus.UpdateHCommand"
                  mnemonic="H">
            </command>
            <separator
                  name="ifaoplugin.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="ifaoplugin.commands.Sql2JavaCommand"
                  icon="icons/database/Sql2Java.png"
                  id="ifaoplugin.menus.Sql2JavaCommand"
                  mnemonic="S">
            </command>            
            <command
                  commandId="ifaoplugin.commands.Java2SqlCommand"
                  icon="icons/database/Java2Sql.png"
                  id="ifaoplugin.menus.Java2SqlCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="ifaoplugin.commands.ValidateDatabaseCommand"
                  icon="icons/database/ValidateDatabase.png"
                  id="ifaoplugin.menus.ValidateDatabaseCommand"
                  mnemonic="S">
            </command>
            <separator
                  name="ifaoplugin.separator3"
                  visible="true">
            </separator>
            <menu
                  label="Ancillary Tools"
                  mnemonic="A"
                  tooltip="Tools for the ancillary module">
               <command
                     commandId="ifaoplugin.commands.startDependencySummarizer"
                     id="ifaoplugin.menu.startDependencySummarizer"
                     label="DependencySummarizer"
                     mnemonic="S"
                     style="push"
                     tooltip="Summarizes all Dependencies which are used in the arctic Database">
               </command>
               <command
                     commandId="ifaoplugin.commands.startDoubletsTest"
                     id="ifaoplugin.menu.startDoubletsTest"
                     label="DoubletsTest"
                     mnemonic="D"
                     style="push"
                     tooltip="Tests the Ancillaries, which are stored in the arctic database for doublets which may occur if the Dependencies are not exactly defined">
               </command>
               <command
                     commandId="ifaoplugin.commands.startRuleProcessorLanguageDumper"
                     id="ifaoplugin.menu.startRuleProcessorLanguageDumper"
                     label="RuleProcessorLanguageDumper"
                     mnemonic="R"
                     style="push"
                     tooltip="Dumps out all language elements of the rule processor (facts and operators)">
               </command>
               <command
                     commandId="ifaoplugin.commands.startTruthTableDumper"
                     id="ifaoplugin.menu.startTruthTableDumper"
                     label="TruthTableDumper"
                     mnemonic="T"
                     style="push"
                     tooltip="Reports truth-tables for all dependencies">
               </command>
               <command
                     commandId="ifaoplugin.commands.startUpdateAncillaryInfoPlausiChecksDumper"
                     id="ifaoplugin.menu.startUpdateAncillaryInfoPlausiChecksDumper"
                     label="UpdateAncillaryInfoPlausiChecksDumper"
                     mnemonic="U"
                     style="push"
                     tooltip="Dumps out the Plausi-Criteria and failure action (WARNING, ERROR) for the Plausi Check which will performed during the UpdateAncillaryInfo Agent">
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ifaoplugin.toolbars.sampleToolbar">
            <command
                  commandId="ifaoplugin.commands.dtdInfoCommand"
                  icon="icons/dtdinfo/dtdinfo.jpg"
                  tooltip="DTD Info"
                  id="ifaoplugin.toolbars.dtdInfoCommand">
            </command>
            <command
                  commandId="ifaoplugin.commands.schemaCommand"
                  icon="icons/schemagenerator/builder.PNG"
                  id="ifaoplugin.toolbar.schemaCommand"
                  tooltip="Schema Generator">
            </command>
            <command
                  commandId="ifaoplugin.commands.UpdateHCommand"
                  icon="icons/UpdateH.png"
                  id="ifaoplugin.toolbar.UpdateHCommand"
                  tooltip="Update Providerdata from H:">
            </command>
            <command
                  commandId="ifaoplugin.commands.Sql2JavaCommand"
                  icon="icons/database/Sql2Java.png"
                  id="ifaoplugin.toolbar.Sql2JavaCommand"
                  tooltip="Sql2Java">
            </command>            
            <command
                  commandId="ifaoplugin.commands.Java2SqlCommand"
                  icon="icons/database/Java2Sql.png"
                  id="ifaoplugin.toolbar.Java2SqlCommand"
                  tooltip="Java2Sql">
            </command>
            <command
                  commandId="ifaoplugin.commands.ValidateDatabaseCommand"
                  icon="icons/database/ValidateDatabase.png"
                  id="ifaoplugin.toolbar.ValidateDatabaseCommand"
                  tooltip="ValidateDatabase">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.ifao.plugin.preferences.PreferencePage"
            id="net.ifao.plugin.preferences.PreferencePage"
            name="IfaoPlugin Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.ifao.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="net.ifao.builder.Builder"
         name="Schema Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="net.ifao.builder.Builder">
            <parameter name="optimize" value="true"/>
            <parameter name="comment" value="Schema Builder"/>
         </run>
      </builder>
   </extension>

</plugin>
